<p><strong>For Transit stop: <%= location['locid'] %> : <%= location['desc'] %> (<%= location['dir'] %>)</strong></p>
<% arrivals.each do |bus| %>
    <% if bus.status == 'estimated' %>
        <p><%= bus %> will arrive in <%= minutes_from_now(bus.estimated) %> mins (realtime)</p>
    <% elsif bus.status == 'scheduled' %>
        <p><%= bus.short_sign %> is scheduled to arrive at <%= short_date(bus.scheduled) %></p>
    <% else %>
        <p><%= bus.short_sign %> will arrive at ###</p>
    <% end %>
<% end %>